@import service.FreelaancelotList
@(request: play.mvc.Http.Request, keyWord: String, searchForm : Map[String,FreelaancelotList], sessionID:String)
<!DOCTYPE html>
@main("Freelancelot") {
    <html>
        <article>
            <head>
                <title>Freelancelot</title>
                <script type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
                <script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>
                <script>
                        init()
                        var webSocket;
                        function init() {
                            initWebSocket();

                        }
                        async function initWebSocket() {
                            @for( (keyword, searchValue) <- searchForm ){
                            @if(request.session().get(keyword+ "-result").isPresent() || keyword==keyWord){
                            webSocket = new WebSocket("@routes.HomeController.ws(keyWord:String).webSocketURL(request)");
                            console.log("WebSocket -> ",webSocket)
                            webSocket.onopen = onOpen;
                            }
                            }
                        }
                        async function onOpen(evt) {
                            console.log("WebSocket -> CONNECTED");
                        }
                </script>
            </head>
            <body data-ws-url="@routes.HomeController.ws(keyWord:String).webSocketURL(request)">
                <center>
                <div class ="main">
                    <h1>Welcome to FreeLancelot</h1>
                    <main class ="main-class">
                    <div class = "search-Form" id = "searchForm">
                        <form action ="/freelancelot" method="GET">
                        <input type="text" name="searchTerm" placeholder="Enter Search Terms"/>
                            <input type="hidden" name="sessionID" id="sessionID" value= '@sessionID'/>
                        <input type="submit" value="Go!" style="background-color: #1874CD;color: white">
                </form>
            </div>
                    </main>
                </div>
                    <div id = "time">
                    </div>
                    <div class="search-body" id="search-body">
                    @if(searchForm != null) {
                        @for((searchterm,searchvalue) <- searchForm){
                            <p style = "font-weight: bold" >Job Search : @searchterm  Flesh Reading Ease Index:  @searchvalue.getAvgReadability(searchterm)  FKLG: @searchvalue.getAvgEducationalLevel(searchterm) </p>
                            <a href="@routes.HomeController.wordStats(searchterm)" >Global Stats</a>
                            <table>
                                <tr>
                                    <th style="font-weight: bold">Owner_id</th>
                                    <th style="font-weight: bold">Date</th>
                                    <th style="font-weight: bold">Title</th>
                                    <th style="font-weight: bold">Type</th>
                                    <th style="font-weight: bold">Skills</th>
                                    <th style="font-weight: bold">Stats</th>
                                    <th style="font-weight: bold">Readability</th>
                                    <th style="font-weight: bold">Education Level</th>
                                </tr>
                                @for(result <- searchvalue.getProjectList()) {
                                    <tr>
                                        <td><a href="@routes.HomeController.ownerInformation(result.getOwner_id())" target="_blank"> @result.getOwner_id </a> </td>
                                        <td>@result.getDate()</td>
                                        <td><a href="https://www.freelancer.com/projects/@result.getProject_ID/details">@result.getProject_title()</a></td>
                                        <td>@result.getProject_type()</td>
                                        <td><a href="@routes.HomeController.skills(result.getSkills())">@result.getSkills()</a></td>
                                        <td><a href="@routes.HomeController.projectWordStats(result.getProject_description())">Stats</a></td>
                                        <td>@result.getReadability()</td>
                                        <td>@result.getEducationalLevel()</td>
                                    </tr>
                                }
                            </table>
                        }
                    }
                    </div>
                </center>
                <br><br><br>
                <script src="@routes.Assets.versioned("javascripts/search.js")"></script>
            </body>
        </article>
    </html>
}