@import service.FreelaancelotList
@(request: play.mvc.Http.Request, keyWord: String, searchForm : Map[String,FreelaancelotList])
<!DOCTYPE html>
@main("Welcome to Freelancelot") {
  <html>
    <article>
      <head>
        <title>Freelancelot</title>
        <h1 style= text-align:center;>Welcome to FreeLancelot</h1>
        <script type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>
      </head>
      <body>
        <form id="searchForm" class="needs-validation">
          <div class="form-group">
            <div class="input-group mb-1">
              <input id="keyword" type="text" placeholder="Search Keyword" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </form>
      </hr>

        <div id="webSocketData" data-ws-url="@routes.HomeController.ws("").webSocketURL(request)">
          <div id="data"> </div>
        </div>
      </body>
    </article>
  </html>
}