@import models.Freelancelot
@import models.FreelaancelotList
@(searchForm: Map[String,FreelaancelotList])
    @main("skills"){
    <article>
        <head>
            <h1 style= text-align:center;>Welcome to FreeLancelot</h1>
        </head>
        <center>
            <body>
@*                <form action ="/freelance" method="GET">*@
@*                    <input type="text" name="searchTerm" placeholder="Enter search Terms"/>*@
@*                    <input type="submit" value="Go!">*@
@*                </form>*@
                <div>
                @if(searchForm != null) {
                    @for((s,searchvalue) <- searchForm){
                        <p> search term: @s : Flesh reading Ease Index ## FKLG #.#</p>
                        <a href="">Global Stats</a>
                        <table>
                            <tr>
                                <td>Owner_id</td>
                                <td>Date</td>
                                <td>Title</td>
                                <td>Type</td>
                                <td>Skills</td>
                                <td>Stats</td>
                                <td>Readability</td>
                            </tr>
                            @for(result <- searchvalue.getProjectList()) {
                                <tr>
                                    <td>@result.getOwner_id()</td>
                                    <td>@result.getDate()</td>
                                    <td>@result.getProject_title()</td>
                                    <td>@result.getProject_type()</td>
                                    <td><a href="@routes.HomeController.skills(result.getSkills())">@result.getSkills()</a></td>
                                    <td><a href=#>Stats</a></td>
                                    <td><a href=#>Readability</a></td>
                                </tr>
                            }
                        </table>
                    }
                }
                </div>
            </body>
        </center>
    </article>
    }
