@(searchForm: Form[Search])(implicit messagesProvider: MessagesProvider)

<html>
<head>
    <h1 style= text-align:center;>Welcome to FreeLancelot</h1>
</head>
    <body>
        <form action ="/" method="GET">
        <input type="text" name="searchTerm" placeholder="Enter search Terms"/>
        <input type="submit" value="Go!">
        </form>
        <div>
            <p> search term: '' : Flesh reading Ease Index ## FKLG #.#</p>
            <a href="">Global Stats</a>
            <table>
                @for(result <- BusinessLogic.proj_det_list) {
                    <tr>
                        <td>@result.getOwner_id</td>
                        <td>@result.getDate</td>
                        <td>@result.getProject_title</td>
                        <td>@result.getProject_type</td>
                        <td>@result.getProject_description</td>
                    </tr>
                }
            </table>
        </div>
    </body>
</html>